.headline {
    text-align: center;
    color: #0F1824;
}
.form {
    text-align: center;
    color: #A1AFC3;
}

.button {
    margin-left: 48%;
    margin-right: 50%;
}
.page {
    background-color: #303A47;

}