.headline {
    text-align: center;
    color: #0F1824;
}
.form {
    text-align: center;
    color: #A1AFC3;
}

.button {
    margin-left: 45%;
    margin-right: 35%;
}
.page {
    background-color: #303A47;

}